# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [2]:
import numpy as np
import pandas as pd
import requests 
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [3]:
stocks  = pd.read_csv('sp_500_stocks (1).csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [4]:
from secret import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [15]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}' 
data = requests.get(api_url).json()
print(type(data))
print(api_url)
if(requests.get(api_url).status_code == 200):
    print(data)

<class 'dict'>
https://sandbox.iexapis.com/stable/stock/AAPL/quote/?token=Tpk_059b97af715d417d9f49f50b51b1c448
{'avgTotalVolume': 74106452, 'calculationPrice': 'tops', 'change': 0.02, 'changePercent': 0.00014, 'close': 0, 'closeSource': 'ifoclifa', 'closeTime': None, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': None, 'delayedPriceTime': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPrice': None, 'extendedPriceTime': None, 'high': 0, 'highSource': 'eeicImr alE r epXti', 'highTime': 1708841594196, 'iexAskPrice': 149.16, 'iexAskSize': 100, 'iexBidPrice': 147, 'iexBidSize': 106, 'iexClose': 152.66, 'iexCloseTime': 1661980988577, 'iexLastUpdated': 1676965684145, 'iexMarketPercent': 0.01271686301821874, 'iexOpen': 150.98, 'iexOpenTime': 1659085324616, 'iexRealtimePrice': 152.87, 'iexRealtimeSize': 101, 'iexVolume': 444112, 'lastTradeTime': 1681726548628, 'latestPrice': 148.95, 'latestSource': 'IEX real time price', 'latestTime': '11:27:38 AM', 'latestUpdate': 1681558522580, 'latestVolume': None, 'low': 0, 'lowSource': None, 'lowTime': None, 'marketCap': 2440185104389, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'open': 0, 'openTime': None, 'openSource': 'aolcifif', 'peRatio': 28.8, 'previousClose': 153.16, 'previousVolume': 89301371, 'primaryExchange': 'DNSAAQ', 'symbol': 'AAPL', 'volume': None, 'week52High': 155.52, 'week52Low': 107.3, 'ytdChange': 0.10912463202684472, 'isUSMarketOpen': True}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [19]:
price= data['latestPrice']
market_cap = data['marketCap']
print(price , market_cap)

148.95 2440185104389

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [21]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Cap, Number of Shares to Buy]
Index: []

In [25]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A'
        ]
    ,index = my_columns
    ), 
    ignore_index=True
)

  Ticker  Stock Price     Market Cap Number of Shares to Buy
0   AAPL       148.95  2440185104389                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [34]:
final_dataframe = pd.DataFrame(columns=my_columns)
print("fuck")
for stock in stocks['Ticker']:
    symbol = stock
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}' 
    data = requests.get(api_url).json()

    price = data['latestPrice']
    marketCap = data['marketCap']


    final_dataframe = final_dataframe.append(

        pd.Series(
            [
                symbol,
                price,
                marketCap,
                "N/A"
            ]
        ,index = my_columns
        ), 
        ignore_index=True
    )

fuck

In [36]:
final_dataframe.loc[:,'Number of Shares to Buy'] = 'N/A'
final_dataframe

    Ticker  Stock Price     Market Cap Number of Shares to Buy
0        A      169.228    52345755927                     N/A
1      AAL       19.383    12189288423                     N/A
2      AAP      210.420    14203167703                     N/A
3     AAPL      151.600  2513305248409                     N/A
4     ABBV      121.350   213166371836                     N/A
..     ...          ...            ...                     ...
500    YUM      137.600    39956263218                     N/A
501    ZBH      146.880    31023148224                     N/A
502   ZBRA      593.210    30334011188                     N/A
503   ZION       55.030     8928780357                     N/A
504    ZTS      208.170   102896991619                     N/A

[505 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [38]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [66]:
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings = []
for i in range(0,len(symbol_groups)):
    symbol_strings.append(",".join(symbol_groups[i]))

    
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:

    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'

    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
            final_dataframe = final_dataframe.append(
            pd.Series(
            [
                symbol,
                data[symbol]['quote']['latestPrice'],
                data[symbol]['quote']['marketCap'],
                'N/A'

            ],
                index = my_columns),
                ignore_index = True
            )

final_dataframe

    Ticker  Stock Price     Market Cap Number of Shares to Buy
0        A      168.405    52315195606                     N/A
1      AAL       19.180    12572151309                     N/A
2      AAP      217.990    13681332487                     N/A
3     AAPL      152.290  2541816446006                     N/A
4     ABBV      117.770   213310998453                     N/A
..     ...          ...            ...                     ...
500    YUM      135.420    41107297503                     N/A
501    ZBH      147.280    31273956657                     N/A
502   ZBRA      571.740    30391163412                     N/A
503   ZION       55.530     9013213791                     N/A
504    ZTS      211.990   101055912403                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [85]:
done = False
while(not done):
    portfolio_size = input("Enter the value of your portfolio: ")
    try:
        val = float(portfolio_size)
    except :

        print("please enter again: ")
    else:
        done = True

Enter the value of your portfolio: 10000000

In [93]:
position_size = val/len(final_dataframe.index)

for i in range(0,len(final_dataframe.index)):
    num = position_size/final_dataframe['Stock Price'][i]
    final_dataframe.loc[i,"Number of Shares to Buy"] = math.floor(num)


final_dataframe

    Ticker  Stock Price     Market Cap Number of Shares to Buy
0        A      168.405    52315195606                     117
1      AAL       19.180    12572151309                    1032
2      AAP      217.990    13681332487                      90
3     AAPL      152.290  2541816446006                     130
4     ABBV      117.770   213310998453                     168
..     ...          ...            ...                     ...
500    YUM      135.420    41107297503                     146
501    ZBH      147.280    31273956657                     134
502   ZBRA      571.740    30391163412                      34
503   ZION       55.530     9013213791                     356
504    ZTS      211.990   101055912403                      93

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: